.mainpage {
    display: block;
    position: absolute;
    width: 1000px;
    height: 900px;
    background: rgb(207, 207, 207);
}

.imgcont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        ". . . . ."
        ". ia ia ia ."
        ". ia ia ia ."
        ". ia ia ia ."
        ". . . . .";
    background: rgb(110, 110, 110);
    width: 550px;
    height: 550px;
}

.imgapp {
    display: grid;
    grid-area: ia;
    width: 450px;
    height: 450px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background: beige;
}

.abs {
    position: absolute;
    z-index: 2;
}

.stv {
    z-index: 3;
    width: 150px;
    height: 300px;
}

.stv[isfix] {
    opacity: 0;
}

.fon {
    z-index: 2;
}

.fon[data-wt=ff] {
    width: 300px;
    height: 300px;
}